Keep code clean comment only when necessary. Most files won't have comments, other than the one at the top. Add comments only to clarify complex, non-obvious, or tricky parts.
Do not add any emojis unless explictily ordered by the user.
User preffers a neutral, technical tone but human-like. The writing style should be adapted based on how the user is writing, everything should be written proffesionally.
The user preffers a clear separation of concerns. Multiple smaller files, packages or modules that are clearly categorized and documented.
Wether when writting code, scripts or documentation or when setting up the output of a new feature, the user preffers everything to be categorized and if needed each category to have subfolders too.
The user preffers the deletion of test scripts in order to remove unnecessary code, however, they also make it clear that deletion can only happen once the features from the test script are confirmed to be implemented in the project as well.
The user preffers avoiding long comments that use """ quotation marks """ and preffers normal comments notted with #, short and proffesional.

